/*failure message*/
.failureMessage{
    position:relative;
    top:-1rem;
    color:red
}


/* buttons */
.hide{
    display: none;
}
.button{
    border: 2px solid teal;
    width: 8em;
    height: 2em;
    background: transparent;
    transition: all 0.2s ease-in-out;

}
.button:hover{
    box-shadow:
    inset 4rem 0 0 0 teal,
    inset -4rem 0 0 0 teal;
    cursor: pointer;
    color: #263238;
    color:white;
}

/*subscribe cover*/

.cover{
    position:absolute;
    width: 50%;
    height: 100%;
    z-index: 1;
    top:0;
    left:50%;
    background-color: teal;
    clip-path: circle(0);
    -webkit-clip-path:circle(0);
    transition: 0.2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover.show{
    clip-path: circle(100%);
    -webkit-clip-path:circle(100%);
}



.footerText{
    width:100%;
    border-top: 1px;
    background-color: rgb(187, 184, 184);
    margin-bottom: 0;
    padding:1rem;
}

.aboutUsContainer > img{
    width:25px;
    margin:0 0.25rem 0 0.25rem;
    cursor: pointer;
}
.aboutUsContainer img:first-of-type{
    margin-left:0;
}

.aboutUsContainer > p{
    margin-top: 0;
}

.upperContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.upperContainer> div >h4{
    margin:0;
}
.upperContainer> div >h4:first-line{
    font-size: 2em;
}

.aboutUsContainer,.subscribeContainer{
    justify-self:center;
}
.upperContainer{
    position:relative;
}

.aboutUsContainer{
    margin: 0 2.25rem 0 2.25rem;
}
.footerContainer{
    margin-top:1.5rem;
}
.subscribeContainer> form >input{
    width:100%;
    line-height: 2em;
    font-size: 1em;
    box-shadow:0 0 5px 2.5px  rgba(25, 230, 202, 0.22);
    margin:1.5em 0 0.75em 0;
}

@media screen and (max-width:680px){
    .upperContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .subscribeContainer{
        justify-self:left;
        align-self: center;
        margin: 0rem 2.25rem 0 2.25rem;
        height:fit-content;
    }
    
}