html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1{
  text-align: center;
}

#__next > div > div.fixedElement{
  display: none;
}


@media screen and (min-width:760px){
  body{
    position:absolute;
    right:0;
  }
  html{
    width:100%;
    position:relative
  }
  
  #__next > div > div.fixedElement{
    display: block;
    position:fixed;
    background-color:whitesmoke;
    width: 60px;
    transform: translateX(-100%);
    height:100vh;
    padding-left:0.7%;
    padding-right: 0.7%;
    padding-top: 1%;
    
    z-index:7;
  }
}